.App {
  text-align: center;
  
}
.todo{
  font-family: monospace;

}

input{
  margin-right: 10px;
  width: 300px;
  height: 40px;
  font-size: 1.5rem;

}
button{
  width: 100px;
  height: 40px;
  border-radius: 12;
  margin-left: 9px;
  font-size: 1.2rem;
}
#task{
  display: flex;
  align-items:center;
  justify-content: center;
  list-style: none;
}
li{
  margin: 10px 9px;
  
  background-color: rgba(22, 199, 175, 0.788);
  padding: 10px;
  font-size: 1.5rem;
  width: 300px;
  height: 40px;
}
h3{
  text-transform: uppercase;
  margin-left: 10px;

}